%center {
  margin-right: auto;
  margin-left: auto;
}

%text-center {
  text-align:center;
}

%clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.text-center{
  @extend %text-center;
}

.card {
  background-color:#fff;
  border: 1px solid #d4d4d4;
  height:100px;
  margin-bottom: 20px;
  position: relative;
  min-height: 400px;
  overflow: auto;
}

.white {
  color: white;
}

.cardHeader {
  background-color: #027FF4;
  font-size: 14pt;
  color: white;
  padding: 5px;
  width: 100%;
  min-height: 100px;

}

.cardClose {
  color: white;
  font-weight:bold;
  margin-right:5px;
}

.cardContainer {
  width:85%;

}

.cardBody {
  padding-left: 5px;
}

.cardBodyLeft {
  margin-top: -5px;
}

.cardBodyRight {
  margin-left: 20px;
  margin-top: 2px;
}

.cardBodyContent {
  position: absolute;
}

.cardImage {
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

.lastRow {
  background-color: #ccc;
}

.indent {
  margin-left: 5px;
}

.ordersTable {
  width:85%;
}

.orders th, .customers th {
  width: 20%;
  cursor: pointer;
}

.ordersTable tr:first-child th, .customersTable tr:first-child th {
  background-color: #027FF4;
  color: #fff;
  font-weight: bold;
}

.gridContainer td {
  vertical-align: middle;
}


#submitCustomer {
  margin-left:50px;
  margin-top: -8px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #027FF4;
  border-color: #027FF4;
}

.cardContainer .col-md-3 {
  padding-left: 0px;
}

.gridContainer  div {
  padding-left: 0px;
}

